
<h2>Portfolio</h2>
<head>
    <title>Software Design Final</title>
    <meta charset="utf-8" />
    <link href="~/Views/Home/homedesign.css" rel="stylesheet" />

</head>

<header>
    <div class="navigation>">
        <nav>
            <ul>
                <li>
                    <p><a href="https://localhost:44372/api/GraphicDesign">Graphic Design Projects</a>
                    </p>
                </li>

                <li>
                    <p><a href="https://localhost:44372/api/SoftwareDevelopment">Software Development Projects</a>
                    </p>
                </li>

            </ul>
        </nav>
    </div>

</header>





<body>

    <h3>Hello!</h3>
    <h4>My Name is David,</h4>
    
    <div class="about">
        I am currently a graduate student at Dominican University. I have a BFA in Graphic Design from DePaul University and currently
        pursuing Master of Science in Software Development at Dominican University.
    </div>

   
   
    <br /><br /><br />





    <form method="post" id="commentform" class="comment-form" novalidate"">
        <p class="comment-notes">
            <span id="email-notes">Your email will not be publishedd</span>
            <span class="required">*</span>

        </p>
        <p class="comment-form-comment">
            <label for="comment">Comment</label>
            <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required" spellcheck="false"></textarea>
        </p>
        <p class="comment-form-author">
            <label for="author">
                Name<span class="required">*</span>
            </label>
            <input id="author" name="author" type="text" value="" size="30" maxlength="245" required="required">
        </p>

        <p class="comment-form-email">
            <label for="email">
                Email <span class="required">*</span>
            </label>
            <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" required="required">
        </p>

        <p class="comment-form-url">
            <label for="url">Website</label> <input id="url" name="url" type="url" value="" size="30" maxlength="200">
        </p>

        <p class="comment-subscription-form">
            <input type="checkbox" name="subscribe_comments" id="subscribe_comments" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;">
            <label class="subscribe-label" id="subscribe-label" for="subscribe_comments">
                Notify me of follow-up comments by email.
            </label>
        </p>

        <p class="comment-subscription-form">
            <input type="checkbox" name="subscribe_blog" id="subscribe_blog" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;">
            <label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog">Notify me of new posts by email.</label>
        </p>

        <p class="form-submit">
            <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
            <input type="hidden" name="comment_post_ID" value="1259" id="comment_post_ID">
            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
        </p>
        <p style="display: none;">
            <input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="d49d42a12f">
        </p>
        <p style="display: none;"></p><input type="hidden" id="ak_js" name="ak_js" value="1597716346420" />
    </form>
    <footer>
    </footer>








</body>